.breadcrumb
  &__item
    width: 50%;
    float: left;
    color: #BBB;
    display: block;
    padding: 16px 0;
    text-align: center;
    background-color: white;
    border-top: 1px solid #D7D7D7;

    &:first-child
      border-right: 1px solid #D7D7D7;

    &.is-active
      font-weight: bold;
      background-color: #DDD;
      color: #ff6600;
