*,
*:before,
*:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html
  color: #454545;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;

input
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.1);

ol,
ul
  margin: 0;
  padding: 0;
  list-style: none;

fieldset
  margin: 0;
  padding: 0;
  border: none;

