extends _layouts/base
include _modules/input

block content
  .container
    form.form
      #request
        fieldset.inputs
          ol
            each input in site.data.fields._embedded.request_fields
              li.input
                label.label #{input.label}
                ul
                  +input(input)(data-required=input.required)
        fieldset.inputs
          a.submit Continuar
      #user.is-hide
        fieldset.inputs
          ol
            each input in site.data.fields._embedded.user_fields
              li.input
                label.label #{input.label}
                ul
                  +input(input)(data-required = input.required)

        fieldset.inputs
          button.submit(type="submit") Buscar prossionais
      ol.breadcrumb
        li.breadcrumb__item.is-active(data-refer="#request")
          = '1. Seu pedido'
        li.breadcrumb__item(data-refer="#user")
          = '2. Seus dados'

